.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  background-color: #fff;
  color: #000;
  height: 50rem;

  .content {
    max-width: 75rem; // Limita a largura do conteúdo
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    justify-content: flex-start;
    text-align: left;
    padding: 0 20px; // Padding para espaçamento interno

    .logo {
      width: 150px; // Tamanho inicial do logo
      margin-bottom: 20px;
    }

    h1 {
      font-size: clamp(2rem, 1.474rem + 2.807vw, 4rem);
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 10px;
      font-family: var(--font-family1);
    }

    p {
      font-size: clamp(1.25rem, -5rem + 33.333vw, 2rem);
      margin-bottom: 20px;
      font-family: var(--font-family1);
      color: #00af89;
    }

    .aboutLink {
      font-size: 1.5rem;
      color: #7e14c0;
      text-decoration: none;
      font-weight: bold;
      font-family: var(--font-family1);
    }
  }

  // Estilos Responsivos
  @media (max-width: 1024px) {
    .content {
      padding: 0 15px; // Ajusta o padding para telas médias
    }
  }

  @media (max-width: 760px) {
    .content {
      h1 {
        font-size: 2rem; // Ajuste do tamanho da fonte para telas menores
      }

      p {
        font-size: 1rem; // Ajusta o tamanho da fonte para tablets
      }

      .logo {
        width: 120px; // Reduz o tamanho do logo para tablets
      }
    }
  }

  @media (max-width: 500px) {
    padding: 20px 10px; // Ajusta o padding para dispositivos menores

    .content {
      h1 {
        font-size: 1.5rem; // Ajuste do tamanho da fonte para celulares
      }

      p {
        font-size: 0.9rem;
      }

      .logo {
        width: 100px; // Reduz o tamanho do logo para celulares
      }
    }
  }
}
